
/*  Dark Theme Values in RGBA */

html{
    --Dark_MenuBackgroundColor : #534c4c;
    --Dark_TopMenuBackgrounColor : #282828;
    --Dark_StandarBackgroundColor : #534c4c;  
    --Dark_InputBackgroundColor : #64ff64; 
    --Dark_TextColor : rgb(41, 29, 32);  
    --Dark_TitlesColor : #ff4d4d; 
    --Dark_olsColor : #b9c6c5;
    --Dark_white : white;
}
