
html{
    --fonts_1: 'Oswald', sans-serif;
    --fonts_description: 'Saira Extra Condensed', sans-serif;
    --fonts_3: 'Muli', sans-serif;
    --fonts_titles: 'Squada One', cursive;
    --fonts_5: 'Work Sans', sans-serif;
    --fonts_6: 'Teko', sans-serif;
}