
#info{
    position : absolute;
    width : calc(100% - 20px);
    height: 40px;
    left : 20px;
    top: 204px;
    overflow: hidden;
    background : var(--Light_InputBackgroundColor);
    border-radius : 12px 0px 0px 12px; 
    display : none;

}

#info img{
    position : relative;
    float : left;
    width : 20px;
    top : 4px;
    left : 4px;
}
#info p{
    position : relative;
    float : right;
    top : -30px;
    left : 28px;
    font-size: 14px;
    word-break:keep-all;
    font-family: var(--fonts_3);
    color : var(--Light_TextColor);
}
#info p span{
    font-family: var(--fonts_3);
    display : inline-block;
    font-weight: bold;
    color : var(--info);
    cursor : pointer;
    transition: var(--Standar_Transition);
}
#info p span:active{
    transform: scale(0.9);
}

@keyframes  showing{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}