
#AddBotton{
     position : relative;
     width : 20px;
     margin-top: calc( 140px / 2 - 20px);
     margin-left : 15px;
     float : left;
}

#input_title{
    position : relative;
    float: left;

    margin-top : 12px;
    border : 1px solid var(--Light_TextColor);
    background : transparent;
    width : 80px;
    padding : 4px; 
    margin-left : 25px;
}

#input_time{
    position : relative;
    float : right;

    margin-top : 12px;
    border : 1px solid var(--Light_TextColor);
    background : transparent;
    width : 80px;
    margin-right : 18px;
    padding : 4px;
}

#input_description{
    position : relative;
    height: 50px;
    width : 180px;
    resize: none;
    margin-top : 12px;
    margin-left : 25px;
    border : 1px solid var(--Light_TextColor);
    background : transparent;
    padding : 4px;
}